<% provide(:title, "Welcome!") %>

<div class="col-md-6">
  <h3>Latest Activity</h3>
  <% @activities.each do |activity| %>
    <div class="panel panel-default half-wide">
      <div class="panel-body">
        <b><%= link_to activity.owner.username, activity.owner if activity.owner %></b>
        <%= render_activity activity %>
      </div>
    </div>
  <% end %>
</div>

<div class="col-md-6 center">
  <img src="assets/expresso.jpg" class="front-image">
</div>


