// removing unwanted styling

a{
  text-decoration: none;
  color: black;
}

ul {
  padding: 0px;
  list-style: none;
}

//body styling
body {
  margin: 3vh 5vw 2vh 5vw;
}

//styling the header

.top-banner {
  border: 1px solid black;
}

.top-nav {
  display: flex;
  justify-content: space-between;

  .top-nav-left {
    display: flex;
    justify-content: space-between;
    width: 40vw;
  }
  .top-nav-right {
    display: flex;
    justify-content: space-between;
  }
}
//