// removing unwanted styling

a{
  text-decoration: none;
  color: black;
}

ul {
  padding: 0px;
  list-style: none;
}

//body styling
body {
  margin: 3vh 5vw 2vh 5vw;
}

//general classes

.row {
  display: flex;
  margin: 3vh 0vh;
}

.horizontal {
  display: flex;
  flex-direction: column;
}

.one-fourth {
  position: absolute;
  left: 25vw;
}

//styling the header

.top-banner {
  border: 1px solid black;
}

.top-nav {
  display: flex;
  justify-content: space-between;

  .top-nav-left {
    display: flex;
    justify-content: space-between;
    width: 40vw;
  }
  .top-nav-right {
    display: flex;
    justify-content: space-around;
    width: 15vw;
  }
}
//

//error styles

.error-message {
  color: red;
  margin: 3vh, 0vh;
}

.flash-danger {
  color:red
}
